/*
  File: App.css
  Student's Name: Maaz Bobat
  Student ID: 301360037
  Date: 5/31/2024
  Description:
  All the styling for the entire website. 
*/
body {
    background-color: grey;
    color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 20px 0 40px;
    font-size: 18px;
    color: black;
}

footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: black;
    /* Ensure the footer has the same background color */
    color: white;
    margin-top: auto;
    /* This pushes the footer to the bottom of the page */
    display: flex;
    justify-content: center;
    /* Center the footer content horizontally */
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-me {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-me img{
    width: 250px;
    height: 300px;
    border: 2px solid black;
}


.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col h1 {
    padding-top: 0;
    font-size: 40px;
}

.about-col p {
    padding: 20px 0 25px;
}
.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: #adcbec;
}
.contact-me {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

    

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    
    
}
.services h1{
    font-size: 40px;
}


.services-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.services-col img {
    width: 100%;
    border-radius: 10px;
}

.services-col p {
    padding: 0;
}

.services-col h2 {
    
    
    text-align: left;
}
.service-img {
    width:150px;
    height: 200px;
    border: 2px solid black;
}
.project-col img {
   height: 300px;
   width:500px;
   border: 2px solid black;
}

.project {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.project-col h1 {
    padding-top: 0;
    font-size: 40px;
}

.project-col p {
    padding: 20px 0 25px;
}